<div class="custom-header">
	<div class="custom-logo">
		{techie kernel}
		<div class="divider-vertical"></div>
			<ul class="top-nav">
				<li><a id="blog" href="#">Blog</a></li>
				<li><a id="github" href="#">Git Hub</a></li>
				<li><a id="login" href="#">Login</a></li>
				<li><a id="register" href="#">Register</a></li>
			</ul>
		</div>
</div>